.main {
    width: 100%;
}

.movie_container {
    margin-top: 20px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 20px;
    gap: 30px;
}

.movie_img {
    width: 150px;
    object-fit: contain;
    transition: width 0.4s 0.23s, opacity 0.3s;
}

.movie_img:hover {
    width: 200px;
}

.movie_img:active {
    opacity: 0.5;
}

@media (max-width: 789px) {
    .movie_img {
        width: 90px;
    }
    .movie_img:hover {
        width: 110px;
    }
}